<h2 style="margin-bottom: 20px">You're not authorized to view this contract</h2>
Provide your e-mail address: <form action="/contracts/<%= params[:id] %>/auth" method="post" style="display: inline"><input type="email" name="email" placeholder="mg@example.com"> <input type="submit" value="View the contract"></form>